.answers li { 
list-style: upper-alpha; 
} 

label { 
margin-left: 0.5em; 
cursor: pointer; 
} 

#question { 
background: #dddada; 
color: 000000; 
padding: 3px; 
text-align: center; 
width: 400px; 
cursor: default; 
border: 1px solid gray; 
}

/*#question:hover { 
background: #3d91b8; 
color: #ffffff; 
padding: 3px; 
text-align: center; 
width: 400px; 
cursor: default; 
border: 1px solid gray; 
} */

/*#choice1 {
background: #dddada;  
color: #ffffff; 
padding-top: 3px; 
padding-bottom: 3px;
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray;
display: inline-block;
}

#choice1:hover { 
background: #3d91b8; 
color: 000000; 
padding-top: 3px; 
padding-bottom: 3px;
text-align: center; 
width: 200px; 
cursor: default; 
border: 1px solid gray;
display: inline-block; 
}

#choice2 {
background: #dddada; 
color: #ffffff; 
padding-top: 3px; 
padding-bottom: 3px;
text-align: center; 
width: 200px; 
cursor: pointer; 
border: 1px solid gray;
display: inline-block;;
}

#choice2:hover { 
background: #3d91b8; 
color: 000000; 
padding-top: 3px; 
padding-bottom: 3px; 
text-align: center; 
width: 200px; 
cursor: default; 
border: 1px solid gray; 
display: inline-block;
}
*/
#categorylist { 
margin-top: 6px; 
display: none; 
} 

#category1, #category2, #category3, #category4, #category5, #category6, #category7, #category8, #category9, #category10, #category11 { 
display: none; 
}

#closing {
display: none;
font-style: italic;
}